extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to Update
  else
    - let booksid = toShow._id
    - let books_name = toShow.books_name
    - let books_author = toShow.books_author
    - let books_cost = toShow.books_cost

    div.container
      div.row.mb-2
        div.col-12
          h5.booksAttr ID is:
          p #{booksid}

      form(id='booksForm', action="/resource/books/" + booksid, method="PUT")
        div.form-group.row
          label.col-sm-2.col-form-label(for='books_name') Books Name
          div.col-sm-10
            input#books_name.form-control(type='text', name='books_name', value=books_name)

        div.form-group.row
          label.col-sm-2.col-form-label(for='books_author') Books Author
          div.col-sm-10
            input#books_author.form-control(type='text', name='books_author', value=books_author)

        div.form-group.row
          label.col-sm-2.col-form-label(for='books_cost') Books Cost
          div.col-sm-10
            input#books_cost.form-control(type='number', name='books_cost', value=books_cost)

        div.form-group.row
          div.col-sm-10.offset-sm-2
            input.btn.btn-primary(type="submit", value="Update")

      script.
        document.forms['booksForm'].addEventListener('submit', (event) => {
          event.preventDefault();
          // TODO: Add user feedback for form submission (e.g., disable the submit button, show loading spinner)
          fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target))
          })
          .then((resp) => resp.json())
          .then((body) => {
            // TODO: Handle the server response (e.g., redirect, display success message)
            alert("Update succeeded");
            // TODO: Additional handling of the response body
          })
          .catch((error) => {
            // TODO: Handle the error (e.g., display error message, log to console)
            alert("Update failed: " + error);
          });
        });
