extends layout

block content
  h1= title

  - let booksid = toShow._id
  - let books_name = toShow.books_name
  - let books_author = toShow.books_author
  - let books_cost = toShow.books_cost

  div
    div.row
      div(class='booksAttr mr-3') books ID is:
      div #{booksid}

    div.row
      div(class='booksAttr mr-3') books name is:
      div #{books_name}

    div.row
      div(class='booksAttr mr-3') books author is:
      div #{books_author}

    div.row
      div(class='booksAttr mr-3') books cost is:
      div #{books_cost}
