extends layout

block content
  h1= title
  - let results = [{b_name:"s1",b_cost :150,b_author :Leo},{b_name:"s2",b_cost :100,b_author :Miss},{b_name:"s3",b_cost :500,b_author :Chat}]
   div.container-fluid
    div.row
     each book,index in results
      div.col-sm-2(onClick=`buy(${index})`) #{book.b_name}
      div.col-sm-2(onClick=`buy(${index})`) #{book.b_cost}
      div.col-sm-2(onClick=`buy(${index})`) #{book.b_author}
      br
      hr

  script.
        function buy(index)
        {
            alert(`You purchased Item ${index+1}`)
        }