extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to detail
  else
    - let booksid = toShow._id
    - let booksname = toShow.books_name
    - let booksauthor = toShow.books_author
    - let bookscost = toShow.books_cost

    div.container
      div.row.mb-3
        div.col-12
          h5.booksAttr Books ID is:
          p #{booksid}

      div.row.mb-3
        div.col-12
          h5.booksAttr Books Name is:
          p #{booksname}

      div.row.mb-3
        div.col-12
          h5.booksAttr Books Author is:
          p #{booksauthor}

      div.row.mb-3
        div.col-12
          h5.booksAttr Books Cost is:
          p #{bookscost}
