extends layout

block content
  h1= title

  - let booksid = toShow._id
  - let books_name = toShow.books_name
  - let books_author = toShow.books_author
  - let books_cost = toShow.books_cost

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{booksid}

  - let actionid = "/resource/books/" + booksid
  form(id='booksForm', action=actionid, method="PUT")
    div.form-group
      label.booksAttr(for='books_name') Books Name
      input#books_name(type='text', name='books_name', value=books_name)

    div.form-group
      label.booksAttr(for='books_author') Books Author
      input#books_author(type='text', name='books_author', value=books_author)

    div.form-group
      label.booksAttr(for='books_cost') Books Cost
      input#books_cost(type='number', name='books_cost', value=books_cost)

    input(type="submit")

  script.
    document.forms['booksForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO: Add user feedback for form submission (e.g., disable the submit button, show loading spinner)
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target))
      })
      .then((resp) => resp.json())
      .then((body) => {
        // TODO: Handle the server response (e.g., redirect, display success message)
        alert("Update succeeded");
        // TODO: Additional handling of the response body
      })
      .catch((error) => {
        // TODO: Handle the error (e.g., display error message, log to console)
        alert("Update failed: " + error);
      });
    });
